.category-card {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-color: #eeeeee;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.category-card .tag {
  display: inline-block;
  background-color: #6874e8;
  color: #eeeeee;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
}
.tag + * {
  margin-top: 1rem;
}
.category-card h2 {
  font-size: 1.5rem;
  color: #202020;
  line-height: 1.25;
}
.category-card h2 + * {
  margin-top: 1rem;
}
.category-card p {
  color: #202020;
}
.category-card p + * {
  margin-top: 1.25rem;
}
.category-card button {
  font: inherit;
  line-height: 1;
  background-color: #eeeeee;
  border: 2px solid #6874e8;
  color: #6874e8;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}
.category-card button:hover,
.category-card button:focus {
  background-color: #6874e8;
  color: #eeeeee;
}
